@model IdentitySample.Models.ChangePasswordViewModel
@{
    /**/

    ViewBag.Title = "Смяна на парола";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-signin text-center", role = "form" }))
{
    @Styles.Render("~/Content/signin.css")
    @Html.AntiForgeryToken()
    <img class="mb-4" src="~/Content/images/lock.svg" alt="" width="72" height="72">
    <hr />
    <h3 class="h3 mb-3 font-weight-normal">Смяна на парола</h3>
    if (@ViewBag.errorMessage != null)
    {
        <p class="text-danger">
            @ViewBag.errorMessage
        </p>
    }
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Текуща парола", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Нова парола" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Потвърдете новата парола" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value=" Потвърди" class="btn btn-sm btn-primary btn-block" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}