@model IdentitySample.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забравена парола?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin text-center", role = "form" }))
{
    @Styles.Render("~/Content/signin.css")
    @Html.AntiForgeryToken()
    <img class="mb-4" src="~/Content/images/forgotPass.svg" alt="" width="72" height="72">
    <hr />
    <h3 class="h3 mb-3 font-weight-normal">Въведете имейл</h3>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Имейл", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" class="btn btn-sm btn-primary btn-block" value="Изпрати мейл" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
