@model IdentitySample.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Възстановяване на парола";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-signin text-center", role = "form" }))
{
    @Styles.Render("~/Content/signin.css")
    @*@Html.AntiForgeryToken()*@
    <img class="mb-4" src="~/Content/images/lock.svg" alt="" width="72" height="72">
    <hr />
    <h3 class="h3 mb-3 font-weight-normal">Изберете нова парола</h3>
    @Html.HiddenFor(model => model.Code)
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Имейл", @readonly = true })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Нова парола", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Потвърдете новата парола" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value=" Потвърди" class="btn btn-sm btn-primary btn-block" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
